Source: mamolinux-cursors
Section: gnome
Priority: optional
Homepage: https://github.com/hsbasu/freedomos-cursors
Maintainer: Himadri Sekhar Basu <hsb10@iitbbs.ac.in>
Build-Depends: debhelper (>= 10), bc, inkscape, gtk2-engines-pixbuf, gtk2-engines-murrine, gnome-themes-standard
Standards-Version: 3.9.5

Package: mamolinux-cursors
Replaces: freedom-y-cursors
Conflicts: freedom-y-cursors
Depends: ${misc:Depends}
Architecture: all
Description: MamoLinux Cursors
 This cursor theme is based on Capitaine Cursors
 with different colours.
